# Dependencies (Ignores node_modules in root AND inside stock-dashboard)
node_modules/

# Docker Volumes (Database data)
influxdb_data/

# Production Build files (Created by Vite)
dist/
build/

# Environment Variables (Protect your secrets)
.env
.env.local

# Logs and System Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db